# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Terraform local state
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Sensitive files
terraform.tfvars
service-account.json
