project_id       = "your-gcp-project-id"
credentials_file = "path/to/your/credentials.json"

region       = "asia-northeast1"
zone         = "asia-northeast1-b"
cluster_name = "cluster_name"
machine_type = "e2-micro"
node_count   = 1
